
div{
  text-align: center; 
  
}

img{
   border-radius: 50%;
    width:90px;      
    height: 90px; 
    text-align: center;  
}
.id{
  font-family: 'Josefin Sans', sans-serif; 
} 
.jumborton{
 background-color: rgb(236, 178, 111);
height: 650px;
margin-top: -25px; 
margin-left: -20px; 
margin-right: -8px;  
border-radius: 0 0 25px 40px;
   
 

} 

.boss{
  background-color: yellow; 

}
 h1{ 
   color: black;    
padding: 20px; 
background-color: darkslategrey;
border-radius: 0 0 50% 50%;  
background: linear-gradient(45deg); 
color: white;
color: transparent;  
-webkit-text-stroke: 2px white; 


 } 

 
 .channel{
  margin-top: 80px;
   text-align: center;  
   display: inline-flex;
   border-radius: 15px;
   padding: 18px; 
background-color: red;
 color:black;
  
 }
  
 
 .facebook{
display: inline;
  text-align: center;  
 word-spacing: 5px;  
  border-radius: 15px;
padding: 18px;
background-color: blue;
margin: px;
color: black;
margin-left: 15px;
}


.insta{
display: inline;
 background-color: rgb(216, 42, 77); 
  text-align: center;   
 word-spacing: 5px;  
  border-radius: 15px;
  padding: 18px; 
  color: black;
  margin-left: 15px;
}
.snap{ 
  text-decoration: none;
  display: inline;
 background-color: yellow;
  text-align: center;   
  border-radius: 15px; 
  margin-left: 15px;
  padding: 18px; 
  margin: px;
  color: black;
}

.twit{

  display: inline;
  background-color:#00acee;
   text-align: center;   
   border-radius: 15px; 
   padding: 18px; 
   margin-left: 15px;
   margin-right: px;
   color: black;
}
.jumborton{ 
  background-image: url(https://images.app.goo.gl/p9zDncNwT3DTFgaU7); 
}

h3{
  margin-top: 180px;
  color: transparent;
  -webkit-text-stroke: 2px lightblue; 
 font-size: 25px;
 color: black;
 text-decoration: underline; 
}


